/*Style sheet for WebsitePA.html*/

/*Basic text/headings*/
body {	font-family: "Tahoma", Geneva, sans-serif;
		font-size: 14pt;
		color: rgb(89,89,89)}
		
h1 {	font-size: 38pt;
		margin-bottom:3px}

h2 {	background-color:#f0b2fa;
		font-family: "Brush Script MT", cursive; 
		font-size: 28pt;
		color: white;
		text-align: center}

h4 {	padding: none;
		font-size: 11pt;
		font-weight: normal;
		font-style: italic;
		letter-spacing: 2px}

/*Titleblock*/
div.titleblock {	background-image: url(flower.jpg);
					background-size: 100%;
					background-repeat: no-repeat;
					color: white;
					padding-left: 10%;
					padding-top: 5%;
					padding-bottom: 5%}
		
/*Tables*/
/*table1*/
table.table1 {table-layout: fixed}

table.table1 td {width: 100px}
		
/*table2*/
table.table2 tr {	text-align: center;
					padding-bottom: 2%}

table.table2 td	{	width: 50%;
					height: 20%;}
		
table.table2 p {	max-width: 80%;
					text-align: justify;
					margin-left: 10%;
					margin-right: 10%}

/*Bulleted lists*/
u1	{	list-style-image: url(bullet.jpg)}

li 	{	padding-bottom: 8px}

/*Images*/	
img {	width: 80%}

/*Forms*/
input[type=text] {	width: 100%;
					border: 4px solid;
					border-color: #f0b2fa;
					border-radius: 5px}


				