@import url(https://fonts.googleapis.com/css?family="Pontano Sans");

/*Style sheet for index.html*/

/*Basic text/headings*/
body {	font-family: "Pontano Sans";
		font-size: 18pt;
		color: #FFFFFF;}
		
h1 {	font-size: 95px;
		margin-bottom:60px;
		margin-top:0px;
		color: #FFFFFF;
		text-align: center; }

h2 {	background-color: rgba(5,124,175,0.3);
		font-family:"Pontano Sans";
		font-size: 40px;
		color: white;
		text-align: center;
		padding:4px;}

h4 {	padding: none;
		font-size: 11pt;
		font-weight: normal;
		font-style: italic;
		letter-spacing: 2px}

/*Titleblock*/
div.wrapper {		max-width: 100%;
					padding-left: 10%;
					padding-right: 10%; 
					padding-top: 5%;
					padding-bottom: 5%
			}

div.titleblock { 	max-width: 100%;	}

div.centered {		position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%);
					padding: 30px;}
		
/*Tables*/
/*table1*/

table.table1 { margin-left: auto; 
				margin-right: auto; }
				
table.table1 td { 	padding-right: 10px;
					text-align: center;}
		
/*table2*/
table.table2 tr {	text-align: center;
					padding-bottom: 2%}

table.table2 td	{	width: 50%;
					height: 20%;}
		
table.table2 p {	max-width: 80%;
					text-align: justify;
					margin-left: 10%;
					margin-right: 10%}

/*Bulleted lists*/
u1	{	list-style-image: url(bullet.jpg)}

li 	{	padding-bottom: 8px}

/*Images*/	
img {	width: 100%}

/*Forms*/
input[type=text] {	width: 100%;
					border: 4px solid;
					border-color: #f0b2fa;
					border-radius: 5px}


				
